
<!-- Post partial, everything related to my post -->
<div class ="container-fluid">

<div class = "row">
  <div class = "col-md-12">
    <h2><%= @post.title %></h2>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <%= @post.category.title %>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <%= @post.body %>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <%= @post.created_at.strftime("%d %b %Y") %>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
   <p>Created By: <%= @post.user_full_name %></p>
  </div>
</div>

<div class = "row">
  <div class = "col-md-12">
    <section class = "star-widget">
      Average Star Rating: <%= average_star(@post) %>
    </section>
 </div>
</div>


<div class = "row">
  <div class = "col-md-12">
  <% if can? :manage, @post  %>
    <%= link_to 'Edit', edit_post_path(@post),class: 'btn btn-primary' %>
    <%= link_to 'Delete', post_path(@post), method: :delete,
                                          data:{confirm: 'Are you sure you want to delete?'},class: 'btn btn-danger'  %>
  <% end %>

  <% if user_signed_in? && can?(:favourite, @post) %>
    <% if @favourite.present? %>
      <%= link_to 'Unfavourite', post_favourite_path(@post,@favourite), method: :delete, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Favourite', post_favourites_path(@post), method: :post, class: 'btn btn-primary' %>
    <% end %>
<% end %>

(<%= pluralize @post.favourites.count, "favourite" %>)
 </div>
</div>



  <div class = 'chosen-select'>
  <section class = "tag-widget">
     Tags: <%= @post.tags.map(&:name).join(", ") %>
  </section>
  </div>

  <section class = "star-widget">
    Rate this post: <%= display_star(@post) %>
  </section>

</div>
