
<h2><%= @post.title %></h2>
  <p> <%= @post.category.title %></p>
  <p><%= @post.body %></p>
  <p>Created By: <%= @post.user_full_name %></p>

  <section class = "star-widget">
    Average Star Rating: <%= average_star(@post) %>
  </section>

  <% if can? :manage, @post  %>
    <%= link_to 'Edit', edit_post_path(@post),class: 'btn btn-info btn-xs' %>
    <%= link_to 'Delete', post_path(@post), method: :delete,
                                          data:{confirm: 'Are you sure you want to delete this greatness?'},class: 'btn btn-danger btn-xs'  %>
  <% end %>

  <% if user_signed_in? && can?(:favourite, @post) %>
    <% if @favourite.present? %>
      <%= link_to 'Unfavourite', post_favourite_path(@post,@favourite), method: :delete, class: 'btn btn-info btn-xs' %>
    <% else %>
      <%= link_to 'Favourite', post_favourites_path(@post), method: :post, class: 'btn btn-info btn-xs' %>
    <% end %>
<% end %>

(<%= pluralize @post.favourites.count, "favourite" %>)



  <div class = 'chosen-select'>
  <section class = "tag-widget">
     Tags: <%= @post.tags.map(&:name).join(", ") %>
  </section>
  </div>

  <section class = "star-widget">
    Rate this post: <%= display_star(@post) %>
  </section>

<h3 class = "text-muted"> Create a New Comment</h3>
  <div id="error_explanation">
    <%= @comment.errors.full_messages.join(', ') %>
  </div>

    <%= form_for [@post, @comment] do |f| %>

    <div class="field form-group">
      <%= f.label :body, class: 'col-sm-1 control-label' %>
      <div class="col-sm-6">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
    </div>

    <div class="actions form-group">
      <div class=" col-sm-11-offset-1 col-sm-11 btn btn-xs">
        <%= f.submit %>
      </div>
    </div>
    <% end %>

   <% if @post.comments.size != 0 %>
<h2>Comments</h2>
      <% @post.comments.each do |c| %>
      <%= c.body %>
    <% if can? :delete, c  %>
      <%= link_to 'Delete', post_comment_path(@post, c),class: 'btn btn-info btn-xs', method: :delete,
                                            data:{confirm: 'Are you sure you want to delete this greatness?'},class: 'btn btn-danger btn-xs'  %>

     <% end %>
       <hr>
   <% end %>
  <% end %>
